@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');
@import "tailwindcss";

@tailwind base;
@tailwind components; 
@tailwind utilities;

body{
    font-family: "Tektur", sans-serif;
    overflow-anchor:none;
}
html {
  scroll-behavior:smooth;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}






.perspective {
  perspective: 1000px;
}

.transform-style {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

@keyframes fade {
  0% { opacity: 0.2; }
  50% { opacity: 0.6; }
  100% { opacity: 0.2; }
}

.animate-fade {
  animation: fade 6s ease-in-out infinite;
}